**Importing Pandas, Numpy**

In [1]:


import numpy as np
import pandas as pd

**Read The Files**

In [2]:
dtrain = pd.read_csv("../data/train.csv")
dtest = pd.read_csv("../data/test.csv")

**Cleaning Data:**

Dropping Tickets

In [3]:
dtrain.drop('Ticket',inplace = True,axis = 1)
dtest.drop('Ticket',inplace = True,axis = 1)
dtrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,NaN,S

Replacing Males with 0s, Females with 1s to get numerical data.

In [4]:
dtrain['Sex'].replace(['male','female'],[0,1],inplace = True)
dtest['Sex'].replace(['male','female'],[0,1],inplace = True)
dtrain.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,7.9250,NaN,S

**Embarked is an action that is irrelevant to hitting the iceberg, as it tells from where the passengers
had gone on board. therefore we'll remove that from out calculations using drop.**

In [5]:
dtrain.drop('Embarked',inplace = True,axis = 1)
dtest.drop('Embarked',inplace = True,axis = 1)
dtrain.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,7.2500,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,71.2833,C85
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,7.9250,NaN

**Setting Passenger ID To be our index**

In [6]:
dtrain.set_index('PassengerId',inplace = True )
dtest.set_index('PassengerId',inplace = True )
dtrain.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin
PassengerId,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,7.2500,NaN
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,71.2833,C85
3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,7.9250,NaN

**Dropping Fare, because I assume it doesn't really matter**

In [7]:
dtrain.drop('Fare',inplace=True,axis=1)
dtest.drop('Fare',inplace=True,axis=1)
dtest.head(3)

,Pclass,Name,Sex,Age,SibSp,Parch,Cabin
PassengerId,,,,,,,
892,3,"Kelly, Mr. James",0,34.5,0,0,NaN
893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,NaN
894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,NaN

In [8]:
dtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    int64
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Cabin     204 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 62.6+ KB

In [9]:
dtest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Name    418 non-null    object
 2   Sex     418 non-null    int64
 3   Age     332 non-null    float64
 4   SibSp   418 non-null    int64
 5   Parch   418 non-null    int64
 6   Cabin   91 non-null     object
dtypes: float64(1), int64(4), object(2)
memory usage: 26.1+ KB

**Changing cabin from object to numerical (or preferably integers)**

In [10]:
dtrain['Cabin']=dtrain['Cabin'].astype(str)
dtest['Cabin']=dtest['Cabin'].astype(str)
dtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    int64
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Cabin     891 non-null    object
dtypes: float64(1), int64(5), object(2)
memory usage: 94.9+ KB

**Assuming that each letter in the Cabin's name corresponds to a specific zone inside the ship, then
that might be an important factor as the cabins which are close to the side which was drowning must have passengers
with lower survival rate
Therefore: extracting letters from cabins and dropping it after that**

In [11]:
def extract_letters(st, sst):
    for subs in sst:
        if str.find(st, subs) != -1:
            return subs
    return np.nan
zones = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'M']
dtrain['Zone'] = dtrain['Cabin'].map(lambda x: extract_letters(x, zones))
dtest['Zone'] = dtest['Cabin'].map(lambda x: extract_letters(x, zones))
dtrain.drop('Cabin',inplace=True,axis=1)
dtest.drop('Cabin',inplace=True,axis=1)

TypeError: descriptor 'find' for 'str' objects doesn't apply to a 'float' object

In [12]:
dtrain.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Zone
PassengerId,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,NaN
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,C
3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,NaN

**Fill missing values with ('M') for Missing values instead of keeping NaN values**

In [39]:
dtrain['Zone'] = dtrain['Zone'].fillna('M')
dtest['Zone'] = dtest['Zone'].fillna('M')

In [15]:
dtrain.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Zone          0
dtype: int64

In [16]:
dtest.isnull().sum()

Pclass     0
Name       0
Sex        0
Age       86
SibSp      0
Parch      0
Zone       0
dtype: int64

**Now only the age has NaN values, let's fix it using pandas.Dataframe.interpolate method**

In [17]:
dtrain['Age'].interpolate(method='linear',  limit_direction='both', inplace=True)
dtest['Age'].interpolate(method='linear',  limit_direction='both', inplace=True)

In [18]:
dtrain.isnull().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Zone        0
dtype: int64

In [19]:
dtest.isnull().sum()

Pclass    0
Name      0
Sex       0
Age       0
SibSp     0
Parch     0
Zone      0
dtype: int64

**dropping SibSp, Parch**

In [20]:
dtrain.drop('SibSp',inplace=True,axis=1)
dtrain.drop('Parch',inplace=True,axis=1)

In [21]:
dtest.drop('SibSp',inplace=True,axis=1)
dtest.drop('Parch',inplace=True,axis=1)

In [22]:
dtest.head(3)

             Pclass                              Name  Sex   Age Zone
PassengerId
892               3                  Kelly, Mr. James    0  34.5    M
893               3  Wilkes, Mrs. James (Ellen Needs)    1  47.0    M
894               2         Myles, Mr. Thomas Francis    0  62.0    M

**Now checking correlation**

In [23]:
dtrain['Pclass'].corr(dtrain['Survived'])
dtrain['Age'].corr(dtrain['Survived'])
dtrain['Sex'].corr(dtrain['Survived'])

0.5433513806577551

**Evaluation**

In [24]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(dtrain, test_size=0.3, random_state=42)
train.describe

<bound method NDFrame.describe of              Survived  Pclass                              Name  Sex   Age  \
PassengerId
446                 1       1         Dodge, Master. Washington    0   4.0
651                 0       3                 Mitkoff, Mr. Mito    0  20.5
173                 1       3      Johnson, Miss. Eleanor Ileen    1   1.0
451                 0       2             West, Mr. Edwy Arthur    0  36.0
315                 0       2                Hart, Mr. Benjamin    0  43.0
...               ...     ...                               ...  ...   ...
107                 1       3  Salkjelsvik, Miss. Anna Kristine    1  21.0
271                 0       1             Cairns, Mr. Alexander    0  30.0
861                 0       3           Hansen, Mr. Claus Peter    0  41.0
436                 1       1         Carter, Miss. Lucile Polk    1  14.0
103                 0       1         White, Mr. Richard Frasar    0  21.0

            Zone
PassengerId
446            A
651            M
173            M
451            M
315            M
...          ...
107            M
271            M
861            M
436            B
103            D

[623 rows x 6 columns]>

In [25]:
test.describe

<bound method NDFrame.describe of              Survived  Pclass  \
PassengerId
710                 1       3
440                 0       2
841                 0       3
721                 1       2
40                  1       3
...               ...     ...
822                 1       3
634                 0       1
457                 0       1
501                 0       3
431                 1       1

                                                          Name  Sex   Age Zone
PassengerId
710          Moubarek, Master. Halim Gonios ("William George")    0  23.0    M
440                     Kvillner, Mr. Johan Henrik Johannesson    0  31.0    M
841                                Alhomaki, Mr. Ilmari Rudolf    0  20.0    M
721                          Harper, Miss. Annie Jessie "Nina"    1   6.0    M
40                                 Nicola-Yarred, Miss. Jamila    1  14.0    M
...                                                        ...  ...   ...  ...
822                                          Lulic, Mr. Nikola    0  27.0    M
634                              Parr, Mr. William Henry Marsh    0  20.5    M
457                                  Millet, Mr. Francis Davis    0  65.0    E
501                                           Calic, Mr. Petar    0  17.0    M
431                  Bjornstrom-Steffansson, Mr. Mauritz Hakan    0  28.0    C

[268 rows x 6 columns]>

In [26]:
from sklearn import linear_model

regr = linear_model.Lasso(alpha=0.01)
TrainingData = ["Pclass", "Zone" ,"Age", "Sex"]
Y = train['Survived']
X = pd.get_dummies(train[TrainingData])
X.drop('Zone_A', inplace=True, axis=1)
X.drop('Zone_T', inplace=True, axis=1)
X_test = pd.get_dummies(test[TrainingData])
regr.fit(X, Y)

Lasso(alpha=0.01)

In [27]:
X

,Pclass,Age,Sex,Zone_B,Zone_C,Zone_D,Zone_E,Zone_F,Zone_G,Zone_M
PassengerId,,,,,,,,,,
446,1,4.0,0,0,0,0,0,0,0,0
651,3,20.5,0,0,0,0,0,0,0,1
173,3,1.0,1,0,0,0,0,0,0,1
451,2,36.0,0,0,0,0,0,0,0,1
315,2,43.0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
107,3,21.0,1,0,0,0,0,0,0,1
271,1,30.0,0,0,0,0,0,0,0,1
861,3,41.0,0,0,0,0,0,0,0,1
436,1,14.0,1,1,0,0,0,0,0,0
103,1,21.0,0,0,0,1,0,0,0,0

In [28]:
X_test.drop("Zone_A",axis= 1 , inplace= True)

**Evaluation**

In [29]:

preds = regr.predict(X_test)
preds = np.round(preds).astype(int)
preds

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0])

In [30]:

from sklearn.metrics import mean_absolute_error

mean_absolute_error(test['Survived'], preds)

0.20522388059701493

**Training**

In [33]:
from sklearn import linear_model

regr = linear_model.Lasso(alpha=0.01)
Ytrain = dtrain['Survived']
Features = ["Pclass", "Zone" ,"Age", "Sex"]
Xtrain = pd.get_dummies(dtrain[Features])
Xtrain_test = pd.get_dummies(dtest[Features])
regr.fit(Xtrain, Ytrain)

Lasso(alpha=0.01)

**Final Predictions**

In [14]:
Xtrain.head(7)

NameError: name 'Xtrain' is not defined

In [13]:
Xtrain_test.head(20)

NameError: name 'Xtrain_test' is not defined

In [34]:

preds = regr.predict(Xtrain_test)
preds = np.round(preds).astype(int)
preds

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 12 is different from 4)

In [ ]:

product = pd.DataFrame({'PassengerId': dtest.index, 'Survived': preds})
product.to_csv('submission.csv', index=False)
print("Submission saved")